/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */


/* use border box */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
}

/* typography */

h1, h3, h4, h5, p {
  margin-bottom: 20px;
}

#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project h2 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 20px;
}

.todo h3 {
  font-size: 1.25em;
  display: inline-block;
  margin-bottom: 15px;
}

/* buttons */

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  outline: none;
}


/* todo elements */

.project {
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(58, 165, 226);
  border-style: solid;
  background-color: whitesmoke;
  padding: 15px;
  margin-top: 10px;
}

body {
  background-color: slategrey;
}

#newProjectOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 70%; /* Full width (cover the whole page) */
  /*height: 30%; */ /* Full height (cover the whole page) */
  padding: 30px 30px 20px 20px;
  top: 15%; 
  left: 15%;
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  color: white;
}

#newProjectOverlay input {
  background-color: rgba(72, 61, 139,0.75);
  border: none;
  outline: none;
  color: white;
  font-size: 1.25em;
}


/* new project popup */

.closeBtn {
  font-family:Garamond,'Apple Garamond','Lucida Sans Unicode';
  font-size: 1.25em;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  cursor: pointer; /* Add a pointer on hover */
}

.createTaskDiv {
  cursor: pointer; /* Add a pointer on hover */
}